<!--
  Generated template for the TripsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="customCol">
    <ion-title>Trips</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-card style="background-color: #c4cacf; letter-spacing: 1.5px;">
    <ion-card-header>
      PAST TRIP
    </ion-card-header>
    <ion-card-content>
    <p>Date</p>
    <p>Name</p>
    <p>Direction</p>
    <p>Status</p>
    
    </ion-card-content>
  </ion-card>
</ion-content>
