<ion-header>

  <ion-navbar color="customCol">
    <ion-title>
      <div class="titleStyle">Safety365</div>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card style="background-color: #c4cacf; letter-spacing: 1.5px;" *ngFor="let sch of schedules;"
    (tap)="showTrip(sch)">

    <ion-card-header class="headClass">
      <ion-row>
        <ion-col col-12>
          <h2 style="font-size: 2.6rem">{{sch.scheduleschools.scheduleName}}</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>{{sch.scheduleschools.schoolVehicles.name}}</ion-col>
      </ion-row>
      <ion-row *ngIf="sch.scheduleschools.trackRoute != undefined">
        <ion-col col-12>
          {{sch.scheduleschools.trackRoute.name}}
        </ion-col>
      </ion-row>
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <ion-col col-6 style="text-align: center; background-color: #009ef1;">

          <h4 style="color: #000; font-size: 2.4rem">{{sch.scheduleschools.pickup | date:'shortTime'}}</h4>
          <h3 style="color:#757575;">PICKUP</h3>
        </ion-col>
        <ion-col col-6 style="text-align: center; background-color: #faa11f;">
          <h4 style="color: #000; font-size: 2.4rem">{{sch.scheduleschools.drop | date:'shortTime'}}</h4>
          <h3 style="color:#757575;">DROP</h3>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 style="text-align: center; background-color: #343a40; color:#fff; font-weight: bold">
          {{sch.tripStat}}
        </ion-col>
        <!-- <ion-col col-12 style="text-align: center; background-color: #343a40; color:#fff">
          <ion-icon name="car" color="customCol"></ion-icon>
          &nbsp;{{sch.scheduleschools.schoolVehicles.device.Device_Name}}
        </ion-col> -->
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>