page-home {
    .list-ios[inset],
    .list-md[inset] {
        margin: 0px;
        border-radius: 4px;
    }
    .headClass{
        text-align: center;
        color: #000;
        // letter-spacing: 1px;
    }

    .card-content-md,
    .card-content-ios {
        padding: 0px;
    }

    .titleStyle{
        text-align: center;
        font-size: 4rem;
        font-weight: bold;
    }
}
