<ion-header>
  <ion-navbar color="customCol">
    <ion-title>Monthly Reports</ion-title>
  </ion-navbar>
  <ion-item>
    <ion-label>{{SelectVehicle}}</ion-label>
    <select-searchable item-content [(ngModel)]="selectedStudent" [items]="liststudent" itemValueField="name" itemTextField="name"
      [canSearch]="true" (onChange)="onChangedSelect(selectedStudent)">
    </select-searchable>
  </ion-item>
</ion-header>

<ion-content>
  <ion-card style="background-color: #c4cacf" (tap)="showDetails(childdata)" *ngFor="let childdata of stuReport">
    <ion-card-header class="headClass">
      <h1>{{childdata.monthString}}</h1>
    </ion-card-header>
    <ion-card-content>
      <ion-row style="background-color: #faa11f">
        <ion-col col-33 style="text-align: center;">
          <h1>{{childdata.totalTrip}}</h1>
        </ion-col>
        <ion-col col-33 style="text-align: center;">
          <h1>{{childdata.totalPresent}}</h1>
        </ion-col>
        <ion-col col-33 style="text-align: center;">
          <h1>{{childdata.absent}}</h1>
        </ion-col>
      </ion-row>
      <ion-row style="background-color: #009ef1">
        <ion-col col-33 style="text-align: center;">
          <h4>Trips</h4>
        </ion-col>
        <ion-col col-33 style="text-align: center;">
          <h4>Present</h4>
        </ion-col>
        <ion-col col-33 style="text-align: center;">
          <h4>Absent</h4>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>